[
  {
    "type": "bar",
    "marker": {
      "color": [
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(0,100,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(0,100,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)",
        "hsl(50,90,50)",
        "hsl(30,100,50)",
        "hsl(50,90,50)"
      ]
    }
  },
  {
    "type": "bar",
    "marker": {
      "color": [
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(0,70,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(0,70,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)",
        "hsl(50,90,70)",
        "hsl(30,90,70)",
        "hsl(50,90,70)"
      ]
    }
  },
  {
    "type": "scatter",
    "marker": {
      "color": "black"
    },
    "mode": "markers"
  }
]